{% extends 'base.html' %}
{% block conteudo %}

<h2>Cadastrar Mecânico</h2>

<hr>

<form action="{{url_for('cadastrar_mecanico')}}" method="POST">

    <label>Nome:</label><br>
    <input type="text" name="nome" class="form-control" required>
    <br><br>

    <label>Especialidade:</label><br>
    <input type="text" name="especialidade" class="form-control">
    <br><br>

    <label>Telefone:</label><br>
    <input type="text" name="telefone" class="form-control">
    <br><br>

    <label>Observações:</label><br>
    <textarea name="observacoes" class="form-control"></textarea>
    <br><br>

    <button type="submit" class="form-control">Cadastrar</button>

</form>

<hr>



{% endblock %}
