{% extends 'base.html' %}
{% block conteudo %}
<!-- <div class="container">
    <h1 class="align-content-center">Sistema de Ordem de Serviço</h1>


    <ul>
        <li><a href="/cadastrar_clientes" class="text-decoration-none text-dark">Cadastrar Clientes</a></li>
        <li><a href="/cadastrar_veiculos" class="text-decoration-none text-dark">Cadastrar Veículos</a></li>
        <li><a href="/cadastrar_mecanicos" class="text-decoration-none text-dark">Cadastrar Mecânicos</a></li>
        <li><a href="/gerenciar_pecas" class="text-decoration-none text-dark">Gerenciar Peças</a></li>
        <li><a href="/cadastrar_os" class="text-decoration-none text-dark nav-link">Cadastrar OS</a></li>
        <li><a href="/gerenciar_os" class="text-decoration-none text-dark">Gerenciar OS</a></li>
    </ul>

    <hr>

</div> -->
<h1 class="justify-content-center">Esse é o meu sistema de ordem de serviços</h1>
<br>
<h3>*Coloque algum fundo aqui*</h3>
</body>
</html>

{% endblock %}