{% extends "base.html" %}
{% block conteudo %}

<form action="{{url_for('login')}}" method="post" class="p-3">
    <label for="nome" class="pb-2">Nome:</label>
    <input type="text" name="nome" id="nome" placeholder="João da Silva">
    <br>
    <label for="senha" class="pb-2">Senha:</label>
    <input type="password" name="senha" id="senha" placeholder="senha massa ó doido">
    <br>
    <label for="email" class="pb-2">E-mail:</label>
    <input type="email" name="email" id="email" placeholder="MeuEmail@gmail.com">
    <br>

    <br>
    <input type="submit" name="" id="" value="Enviar">

</form>

{% endblock %}